@import "@/assets/styles/referent.scss";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  .modal {
    z-index: 100;
    background: $main-black;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 1200px;
    .modal-header {
      display: flex;
      justify-content: space-between;
      padding: 28px 16px;
      .modal-title {
        font-size: $font-xs;
        color: $main-white;
      }
      .modal-close-button {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1;
        color: $main-white;
        opacity: 0.3;
        cursor: pointer;
        border: none;
        button {
          font-size: 0.9rem;
          font-weight: 700;
          border: none;
          border-radius: 3px;
          padding: 0.3rem 1rem;
          margin-left: 0.5rem;
        }

        .button-default {
          color: $main-white;
          width: 64px;
          height: 64px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 64px;
        }
      }
    }
  }
}
