@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}
