@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-Source-Pro, $font-Arial, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  font-size: $font-main;
  font-weight: $font-medium;
  color: $main-black;
}

//scrollbar css
html ::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

html *::-webkit-scrollbar-thumb {
  background-color: $scrollbar;
  border-radius: 20px;
}

html *::-webkit-scrollbar-track {
  background: 0, 0;
}

h2 {
  font-size: $font-main;
  line-height: 1;
  font-weight: $font-bold;
}

h3 {
  font-size: $font-m;
  font-weight: $font-semi-bold;
  margin: 0;
}

p {
  font-size: $font-xs;
  font-weight: $font-light;
  color: $grey;
}

//custom tippy

body {
  .tippy-content {
    padding: 0;
  }
}

.profile {
  .tippy-content {
    padding: 4px 8px;
  }
}

//custom circular bar

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #204529;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #21d07a;
}

.circular-text {
  width: 89%;
  transform: translateY(105px);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

//custom scrollbar

.scroll-wrap {
  .scrollbar {
    &::-webkit-scrollbar-track {
      background: 0, 0;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar;
      border-radius: 20px;
    }
    &::-webkit-scrollbar {
      height: 8px;
      width: 8px;
    }
  }
}

//custom popup
#popup-root {
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  .popup-content {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
  }
  .popup-arrow {
    color: transparent;
  }
}
